# Ignorar archivos de configuración del editor
.vscode/
.idea/

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar archivos de compilación
/build/
/dist/

# Ignorar dependencias
/node_modules/
/venv/

/output/